<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes.addClass('heading') }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
