<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/big_noise/favicons/apple-touch-icon.png?v=2bQBRv2LMP">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/big_noise/favicons/favicon-32x32.png?v=2bQBRv2LMP">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/big_noise/favicons/favicon-16x16.png?v=2bQBRv2LMP">
    <link rel="manifest" href="/themes/custom/big_noise/favicons/manifest.json?v=2bQBRv2LMP">
    <link rel="mask-icon" href="/themes/custom/big_noise/favicons/safari-pinned-tab.svg?v=2bQBRv2LMP" color="#e3673d">
    <link rel="shortcut icon" href="/themes/custom/big_noise/favicons/favicon.ico?v=2bQBRv2LMP">
    <meta name="theme-color" content="#ffffff">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
