{%
  set hasThumbnailImage = content.field_banner_image_thumbnail|render
%}
{% if node.bundle == 'news_article' %}
<div class="clearfix news-article--block--teaser{% if hasThumbnailImage %} has-image{% endif %}">
  {% if hasThumbnailImage %}
  <div class="news-article--block--teaser--image">
    <a href="{{ url }}">
      {{ content.field_banner_image_thumbnail }}
    </a>
  </div>
  {% endif %}
  <div class="news-article--block--teaser--content">
    <h2 class="article-title">
      <a href="{{ url }}">{{ label }}</a>
    </h2>
    {{ content.field_article_date }}
    {{ content.field_content_teaser}}
  </div>
</div>
{% elseif node.bundle == 'external_news_article' %}
<div class="clearfix external-news-article--block--teaser{% if hasThumbnailImage %} has-image{% endif %}">
  {% if hasThumbnailImage %}
  <div class="external-news-article--block--teaser--image">
    <a href="{{ node.field_article_url.0.url }}" target="_blank">
      {{ content.field_banner_image_thumbnail }}
    </a>
  </div>
  {% endif %}
  <div class="external-news-article--block--teaser--content">
    <h2 class="article-title">
      <a href="{{ node.field_article_url.0.url }}" target="_blank">{{ label }}</a>
    </h2>
    {{ content.field_article_date }}
    {{ content.field_article_source }}
    {{ content.field_content_teaser }}
  </div>
</div>
{% endif %}
