{%
  set hasColumnPrimary = content.field_content_blocks|render|trim
%}
{%
  set hasColumnSecondary = content.field_content_blocks_secondary|render|trim
%}
{%
  set columnContainerClasses = [
    'column-container',
    hasColumnPrimary ? 'has-primary-column',
    hasColumnSecondary ? 'has-secondary-column'
  ]
%}

{% if content.field_title|render|trim %}
<div id="page-title-ribbon" class="page-title-ribbon"{% if page_title_ribbon_image_url is not empty %} style="background-image: url('{{ page_title_ribbon_image_url }}');"{% endif %}>
  <div id="page-title-ribbon--content" class="page-title-ribbon--content site-width-constraint">
    {{ content.field_title }}
    {{ content.field_subheading }}
    {% if page_title_ribbon_image_caption is not empty %}
    <div id="page-title-ribbon--image-caption" class="page-title-ribbon--image-caption">{{ page_title_ribbon_image_caption }}</div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if is_front %}
{{ drupal_block('home_page_slideshow') }}
{% endif %}

{% if is_front or hasColumnPrimary or hasColumnSecondary %}
<div id="site--main--main-content" class="site--main--main-content site-width-constraint">
  {% if is_front %}
  {{ drupal_block('home_page_lead_in') }}
  {% endif %}
  <div class="{{ columnContainerClasses|join(' ') }}">
    {% if hasColumnPrimary %}
    <div class="column primary">{{ content.field_content_blocks }}</div>
    {% endif %}
    {% if hasColumnSecondary %}
    <div class="column secondary">{{ content.field_content_blocks_secondary }}</div>
    {% endif %}
  </div>
</div>
{% endif %}
