<div id="site--main--main-content" class="site--main--main-content">

  <div id="show--container" class="show--container">

    <div id="show--imagery" class="show--imagery">
      <div id="show--imagery--image" class="show--imagery--image">
        <img src="/sites/default/files/images/BNT_L5Y_SplashImage2.jpg"/>
      </div>
      <div id="show--imagery--wash" class="show--imagery--wash"></div>
    </div>

    <div id="show--main-content-blocks" class="show--main-content-blocks site-width-constraint">

      <div class="content-block first">
        {{ content.field_title_image }}
        <div class="show--performance-date-range">{{ show__performance_date_range }}</div>
      </div>

      <div class="content-block second">
        {{ content.field_billing_credits }}
        {{ content.field_synopsis }}
      </div>

      <div class="content-block third">
        {{ content.field_buy_tickets_url }}
        {{ content.field_ticket_price_details }}
        {{ content.field_performance_details }}
        {{ content.field_venue_details }}
        {{ content.field_synopsis_concise }}
      </div>

    </div>

  </div>

</div>
