<div id="site--main--main-content" class="site--main--main-content">

  <div id="show--container" class="show--container">

    <div id="show--imagery" class="show--imagery">
      <div id="show--imagery--image" class="show--imagery--image">
        <img src="{{ show__splash_image_url }}" />
      </div>
      <div id="show--imagery--wash" class="show--imagery--wash"></div>
    </div>

    <div id="show--main-content-blocks" class="show--main-content-blocks site-width-constraint site-gutter">

      <div class="content-block first">
        {{ content.field_title_image_mobile }}
        {{ content.field_title_image_tablet }}
        {{ content.field_title_image_desktop }}
      </div>

      <div class="content-block second">
        <div class="show--performance-date-range">{{ show__performance_date_range }}</div>
        {{ content.field_billing_credits }}
        {{ content.field_synopsis }}
      </div>

      <div class="content-block third">
        {{ content.field_buy_tickets_url }}
        {{ content.field_ticket_price_details }}
        {{ content.field_performance_details }}
        {{ content.field_venue_details }}
        {{ content.field_synopsis_concise }}
      </div>

    </div>

    {% if show__has_cast_and_creative %}
    <div id="show--cast-creative-media" class="show--cast-creative-media">
      <div id="show--cast-creative-media--navigation-container" class="show--cast-creative-media--navigation-container">
        <nav id="show--cast-creative-media--navigation" class="show--cast-creative-media--navigation site-width-constraint site-gutter">
          <ul>
            {% if show__has_cast_and_creative %}
            <li><a href="#cast-creative" class="active">Cast &amp; Creative</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      {% if show__has_cast_and_creative %}
      <div id="show--cast-creative-media--cast" class="show--cast-creative-media--cast site-width-constraint site-gutter">
        {{ content.field_cast_and_creative }}
      </div>
      {% endif %}
    </div>
    {% endif %}

  </div>

</div>
