<div id="vista" class="vista {{ vista_classes|join(' ') }}">
  <div id="site--off-canvas" class="site--off-canvas">
    {{ page.sidebar_main_navigation }}
  </div>
  <header id="site--header" class="site--header">
    {{ page.header }}
  </header>
  <main id="site--main" class="site--main">
    <div id="site--main--container" class="site--main--container">
      {{ page.content.secondary_navigation_main }}
      {{ page.content.system_main }}
    </div>
  </main>
  <footer id="site--footer" class="site--footer {{ footer_classes|join(' ') }}">
    {{ page.footer }}
  </footer>
</div>
